<!DOCTYPE html>
<html>
<head>
  <title>KhobbyData - Data Bundles</title>
  <style>
     body { font-family: Arial; text-align: center; padding: 50px; background: #f0f8ff; }
     h1 { color: #007bff; }
     .box { background: white; padding: 30px; border-radius: 15px; display: inline-block; box-shadow: 04px 10px rgba(0,0,0,0.1); }
     a {background: #28a745; color: white; padding 12px 25px; text-decoration: none; border-radius: 8px; }
   </style>
</head>
<body>
     <div class="box">
         <h1>KhobbyData is LIVE!</h1>
         <p>Welcome to Ghana's Best Data Bundle Shop</p>
         <p>MTN | Telecel |AirtelTigo</p><br>
         <a href="https://wa.me/+233533081832"Order on Whatsapp</a>
         <p style="margin-top:20px; color: green;"><b>Status: LIVE</b></p><br>
     </div>
     <p>
     <div class="card"><div><b>MTN 1GB</b><br> 4.90</div><a class="btn" href"https://wa.me/233533081932? text=I want 1GB">Buy</p></a></div>
     <div class="card"><div><b>MTN 2GB</b><br> 9.90</div><a class="btn" href"https://wa.me/233533081932? text=I want 2GB">Buy</a></div>
     <div class="card"><div><b>MTN 3GB</b><br> 14.70</div><a class="btn" href"https://wa.me/233533081932? text=I want 3GB">Buy</a></div>
     <div class="card"><div><b>MTN 4GB</b><br> 19.80</div><a class="btn" href"https://wa.me/233533081932? text=I want 4GB">Buy</a></div>
     <div class="card"><div><b>MTN 5GB</b><br> 24.50</div><a class="btn" href"https://wa.me/233533081932? text=I want 5GB">Buy</a></div>       
</body>
</html>
         
